<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="icon" href="/public/images/title.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/plugins/layui/css/layui.css">
    {% block head %}{% endblock %}

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/admin" style="color: #009688;font-family: 'Microsoft YaHei';font-size: 25px">后台管理</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <!--
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/public/images/tx.jpg" class="layui-nav-img">
                    管理员
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a id="btn_logout" href="javascript:;">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">信息管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/category">分类管理</a></dd>
                        <dd><a href="/admin/archive">文章管理</a></dd>
                        <dd><a href="javascript:;">评论</a></dd>
                        <dd><a href="/admin/user">用户管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">统计分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">文章统计</a></dd>
                        <dd><a href="javascript:;">评论统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/admin/user">系统设置</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            {% block main %}{% endblock %}
        </div>
    </div>

    <div class="layui-footer">
        个人博客后台管理系统
    </div>
</div>

</body>
<script src="/public/plugins/layui/layui.all.js"></script>
<script src="/public/js/manager/layout.js"></script>
{% block js %}{% endblock %}
</html>