<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>活出你的精彩</title>
    <link rel="icon" href="/public/images/title.ico" type="image/x-icon"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/public/plugins/layui/css/layui.css">
    <link href="/public/css/main/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #btn-search{
            height: 25px;
            line-height: 25px;
        }
        #input-search {
            position: absolute;
            left: 0;
            height:25px;
            line-height: 25px;
            width: 74%;
        }
    </style>
</head>
<body>
    <div id="templatemo_header">

        <div id="site_title">
        </div> <!-- end of site_title -->

        <div id="header_right">
            <div id="newsletter_box">
                <form  class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left: 0">
                            <input type="text" id="input-search" name="content"  autocomplete="off" placeholder="请输入关键字" class="layui-input">
                            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="search" id="btn-search">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="cleaner"></div>

    </div> <!-- end of header -->

    <div id="templatemo_menu_wrapper">

        <div id="templatemo_menu">
            <ul>
                <li><a href="#" class="current"><span></span>首页</a></li>
                {% for category in categories %}
                <li><a href="#"><span></span>{{category.name}}</a></li>
                {% endfor %}
                <li style="float: right"><a href="#" style="font-weight: normal;"><span></span>写博客</a></li>
            </ul>
        </div>
    </div> <!-- end of templatemo_menu -->


    <div id="templatemo_main"> <span class="tm_bottom"></span>

        <div id="templatemo_content">
            {%for archive in archives %}
            <div class="post_box">
                <div class="header">
                    <h2><a href="#">{{archive.title}}</a></h2>
                    <div class="tag"><strong>Tags:</strong> <a href="#">{{archive.category}}</a>
                        <span class="posted_date">
                        25 Feb
                        <strong>2010</strong>
                    </span>
                    </div>
                    <div class="pb_right">
                        <p>{{archive.content}}</p>
                        <div class="comment"><a href="#">Comment</a></div>
                    </div>
                    <div class="cleaner"></div>
                </div>

            </div>
            {%endfor%}
            <div id="templatemo_sidebar">
                {% if userInfo._id %}
                <div class="sidebar_box" id="welcomeBox">
                    <h3>欢迎光临</h3>
                    <div class="sb_content">
                        <p><span name="username" style="font-size: 18px">{{userInfo.username}}</span></p>
                        {% if userInfo.isAdmin%}
                        <span style="display: inline-block;height: 40px;line-height: 40px">你好，管理员！</span>
                        <a href="/admin" style="color: tomato;font-weight: normal">进入后台>></a>
                        {% else %}
                        <span style="display: inline-block;height: 40px;line-height: 40px">你好，欢迎光临我的博客！</span>
                        {% endif %}

                        <div style="width: 216px; margin: 0;">
                            <button id="btn_logout" class="layui-btn layui-btn-fluid">安全退出</button>
                        </div>
                    </div>
                </div>
                {%else%}



                <div class="sidebar_box"  id="loginBox">
                    <h3>登录</h3>
                    <div class="sb_content">
                        <form  class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="text" id="username" name="username"  autocomplete="off" placeholder="请输入用户名" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="password" id="password" name="password"  autocomplete="off" placeholder="请输入密码" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item" style="margin-bottom: 0;">
                                <div class="layui-input-block" style="margin-bottom: 10px;">
                                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登  录</button>
                                </div>
                                <span style="color: #808080;text-decoration: none;">还没有账号？</span>
                                <a id="linkRegiter" href="javascript:;" style="color: #eb7350;font-weight: normal">立即注册</a>
                            </div>
                        </form>

                    </div>
                </div>


                <div class="sidebar_box" id="registerBox">
                    <h3>注册</h3>
                    <div class="sb_content">
                        <form  class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="text" name="username"  autocomplete="off" placeholder="请输入用户名" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="password" name="password"  autocomplete="off" placeholder="请输入密码" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="password" name="repassword"  autocomplete="off" placeholder="请再次输入密码" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item" style="margin-bottom: 0;">
                                <div class="layui-input-block" style="margin-bottom: 10px;">
                                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="register">注  册</button>
                                </div>
                                <span style="color: #808080;text-decoration: none;">已有账号？</span>
                                <a id="linkLogin" href="javascript:;" style="color: #1E9FFF;font-weight: normal">马上登录</a>
                            </div>

                        </form>
                    </div>
                </div>

                {% endif %}

                <div class="sidebar_box">
                    <h3>Categories</h3>
                    <div class="sb_content">
                        <ul class="sidebar_menu">
                            <li><a href="#">CSS Techniques</a></li>
                            <li><a href="#">Web Design Tips</a></li>
                            <li><a href="#">Best Wallpapers</a></li>
                            <li><a href="#">Free Fonts</a></li>
                            <li><a href="#">Photoshop Tutorials</a></li>
                            <li><a href="#">3D Animation Tutorials</a></li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar_box">
                    <h3>Archives</h3>
                    <div class="sb_content">
                        <ul class="sidebar_menu">
                            <li><a href="#">CSS Templates</a></li>
                            <li><a href="#">Web Design Ideas</a></li>
                            <li><a href="#">Free Wallpapers</a></li>
                            <li><a href="#">Free Pixel Fonts</a></li>
                            <li><a href="#">Illustrator Tutorials</a></li>
                            <li><a href="#">3D Character Tutorials</a></li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar_box">
                    <h3>Our Friends</h3>
                    <div class="sb_content">
                        <ul class="sidebar_menu">
                            <li><a href="#">Free Flash Files</a></li>
                            <li><a href="#">Free CSS Templates</a></li>
                            <li><a href="#">Web Design Tips</a></li>
                            <li><a href="#">Flash XML Galleries</a></li>
                            <li><a href="#">Inspiring Flash Websites</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cleaner"></div>
            <ul class="layui-fixbar">
                <li class="layui-icon" lay-type="bar1" style="display: none"></li>
                <li class="layui-icon layui-fixbar-top" lay-type="top" style="display: list-item;"  title="回到顶部" id="gotop" onclick="pageScroll()"></li>
            </ul>
        </div> <!-- end of main -->

        <div id="templatemo_footer">

            <ul class="footer_menu">
                <li class="first"><a href="#">首页</a></li>
                {% for category in categories %}
                <li><a href="#">{{category.name}}</a></li>
                {% endfor %}
            </ul>
            Copyright © 2018 <a href="#">风尘四侠</a>
        </div>
    </div>
</body>
<script src="/public/plugins/layui/layui.all.js"></script>
<script src="/public/js/main/index.js"></script>
</html>