<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
    <link rel="stylesheet" href="/public/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/public/css/admin/archive.css">
</head>
<body>
<form class="layui-form" action="" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">开始时间</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" class="layui-input" id="startTime" name="startTime" placeholder="yyyy-MM-dd">
        </div>
        <label class="layui-form-label" style="text-align: center">结束时间</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" class="layui-input" id="endTime" name="endTime" placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">任务描述</label>
        <div class="layui-input-block">
            <textarea name="taskDesc" class="layui-textarea" style="height: 220px;width: 670px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">所属项目</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <select name="project" lay-search="">
                <option value="" selected>请选择所属项目</option>
                {% for project in projects %}
                <option value="{{project._id.toString()}}">{{project.name}}</option>
                {% endfor %}
            </select>
        </div>
        <label class="layui-form-label" style="text-align: center">参考工时</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" name="taskTime" placeholder="输入参考工时" class="layui-input">
        </div>
    </div>
    <input type="hidden" name="executor" value="{{userInfo._id}}">
    <input type="hidden" id="role" value="{{userInfo.role}}">
    <div class="layui-form-item">
        <div class="layui-input-block" style="text-align: right;padding-right: 20px;">
            <button class="layui-btn" lay-submit lay-filter="addWeekly" style="color: #fff;background: #1789FF;">提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script src="/public/plugins/layui/layui.all.js"></script>
<script src="/public/plugins/base64.js"></script>
<script src="/public/js/manager/addWeekly.js"></script>
</html>